table {  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%; background-color: #AEC6CF;}
		td, th {  font-family:cursive; border: 1px solid #dddddd;  text-align: left; padding: 8px;}
body {background-image: url("https://www.muralswallpaper.com/app/uploads/chemistry-doodle-childrens-plain-1.jpg");}
